$hue: 194;

$bg-color: hsl($hue, 80%, 98%);
$bg-table-color: #eee;
$bg-table-color-2: #ddd;

$primary-color: hsl($hue, 100%, 63%);

$border-input: hsl($hue, 0%, 80%);

$text-color: #0e0e0e;
$remove:#ff0000;